In [1]:
print("Welcome to SDA 250!")
print("Using the 'insert' tab add a code block and change its type to \"markdown\" using the drop-down bar. ")
print("In that markdown block write a short introduction about why you are taking this course.")
print("Don't forget to add your name at the top as a header.")
print("Also add a bullet list of the top 3 skills you want to learn in this course.")

Welcome to SDA 250!
Using the 'insert' tab add a code block and change its type to "markdown" using the drop-down bar.
In that markdown block write a short introduction about why you are taking this course.
Don't forget to add your name at the top as a header.
Also add a bullet list of the top 3 skills you want to learn in this course.

# Woochul Song
## My name is Woochul and I'm majoring Political-Science and minoring SDA and Business. I'm taking this course because it is a required course for my SDA minor program. I'm currently working at Trasport Canada in Civil Aviation and I'm thinking about using SDA in my department. The skills I would like to learn in this course are: 
- Coding 
- Analyzing the data 
- How I can use the learnings I've learned in real-work settings

In [3]:
print("I have no programming experience other than than a little bit of interaction with R program.")

I have no programming experience other than than a little bit of interaction with R program.

In [80]:
name = "Woochul"
age = 27

print(name)
print(age)

# if we put quotation marks around the variable name it will just print the name of the variable
print("name")
print("age")

Woochul
27
name
age

In [77]:
birthday = "September 17, 1993" 
school = "Simon Fraser University"

print(birthday)
print(school)

# they will print "September 17, 1993" and "Simon Fraser Univeristy" respectively.

print("birthday")
print("school")

# If I put quotation marks around the two variables, that will print the name of their variables, "birthday" and "school" respectively..

September 17, 1993
Simon Fraser University
birthday
school

In [19]:
# this will print: 3
print(1+2)

3

In [22]:
# this will print: 12
print(3*4)

12

In [24]:
x = 10
y = 5

# this will print: 5
print(x - y)

5

In [26]:
number1 = 15
number2 = 3
result = number1 / number2

# this will print: 15
print(number1)

# this will print: number2
print("number2")

# this will print: 5
print(result)

15
number2
5.0

In [81]:
firstName = "Taylor"
lastName = "Williams"
fullName = firstName + lastName

# this will print: TaylorWilliams (no space)
print(fullName)

TaylorWilliams

In [82]:
fullName = firstName + " " + lastName

# This will print the correct full name
print(fullName)

# You could also add the space in the print satemetn itself
print(firstName + " " + lastName)

Taylor Williams
Taylor Williams

In [99]:
firstName = "Woochul"
lastName = "Song"
preferredName = "Woochul"
preferredPronouns = "He"
favoriteNumber = "13"

print(firstName + " " + lastName)
print(preferredName(preferredPronouns))
print(favoriteNumber)

Woochul Song

TypeError: 'str' object is not callable

In [68]:
print(13*13)

169

In [69]:
print(13+13)

26

In [70]:
print(13-13)

0

In [71]:
print(13/13)

1.0

In [72]:
x = 13
y = 13

print(x - y)

0

In [73]:
number1 = 13
number2 = 13
result = number1 / number2

print(number1)

print("number2")

print(result)

13
number2
1.0

# Minute Paper Number 2

## First, customers should have a transparent view of whether their data is being used. A lot of times, they usually don't have the access to whether their information/data is being manipulated or being used.  Second, organizations should be careful using the data to dividing people into groups and judge their identity based on how they are divided (e.g. dividing them into a high class or lower class).